* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

}

.boxflex {
    border: 1px solid black;
    height: 25vh;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 40px;
    border-style: none;
    border-color: #000;
    background-color: #ac1313;
    color: #fff;
    line-height: 22px;
}

.button:hover {
    background-color: black;
    color: gold;
    transition-duration: 2s;
    transition-delay: 200ms;
}