body {
    display:flex;
    flex-direction: row;    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    text-transform: uppercase;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.fadeiandnout {
    width:200px;
    height: 200px;
    animation: fadeinout 4s linear forwards infinite;
}

.bg1 {
    background: rgb(255, 210, 0);
    animation-delay: 0s;
}

.bg2 {
    background: rgb(255, 180, 30);
    animation-delay: 0.25s;
}

.bg3 {
    background: rgb(255, 150, 60);
    animation-delay: 0.5s;
}

.bg4 {
    background: rgb(255, 120, 90);
    animation-delay: 0.75s;
}

.bg5 {
    background: rgb(255, 90, 120);
    animation-delay: 1s;
}

.bg6 {
    background: rgb(255, 60, 150);
    animation-delay: 1.25s;
}

.bg7 {
    background: rgb(255, 30, 180);
    animation-delay: 1.5s;
}

.bg8 {
    background: rgb(255, 0, 210);
    animation-delay: 1.75s;
}

@keyframes fadeinout {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}